<!DOCTYPE html>
<html>
  <head>
    <title>GOOGLE CLOUD STORAGE</title>
  </head>
  
  <body>
    <center>

    <div class="content">

        <h3>FlaskDrive: GOOGLE CLOUD STORAGE Flask Demo</h3>
    
        <p>Welcome to this GCS Buckets Demo</p>
    
        <h2> {{ msg }}</h2>
    
    
        <div>
          <h3>These are your uploaded files:</h3>
          <p>Click on the filename to download it.</p>
          <ul>
            {% for item in contents %}
              <li>
                <a href="/download/{{ item }}"> {{ item }} </a>
              </li>
            {% endfor %}
          </ul>
          <video width="320" height="240" controls>
            <source src="{{ url }}" mimetype="video/mp4">
            Your browser does not support the video tag.
          </video>
    
        </div>

    </div>
  </center>
  </body>
</html>
