<!DOCTYPE html>
<html>
  <head>
    <title>GOOGLE CLOUD STORAGE</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='aguila.png') }}">
  </head>
  
  <body>
    <center>

    <div class="content">

        <h3>WELCOME TO AGUILA</h3>
    
        <p>I don't have any clothes, yet. Be patient. Good things are coming.</p>
    
        <h2> {{ msg }}</h2>
    
    
        <div>
          <h3>These are your uploaded files:</h3>
          <p>Click on the filename to play it.</p>
          <ul>
            {% for item in contents %}
              <li>
                <a href="/download/{{ item }}"> {{ item }} </a>
              </li>
            {% endfor %}
          </ul>
          <video width="320" height="240" controls poster='/static/aguila.png'>
            <source src="{{ url }}" mimetype="video/mp4">
            Your browser does not support the video tag.
          </video>
    
        </div>

    </div>
  </center>
  </body>
</html>